[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
jedi = "*"
yapf = "*"

[packages]
pelican = "*"
webassets = {ref = "master", git = "https://github.com/miracle2k/webassets.git"}
"flake8" = "*"
"bs4" = "*"
Markdown = "*"
"Jinja2" = "*"

[requires]
python_version = "3.7"
