<footer class="p-6 pt-20 text-center text-sm text-gray-500">
  <p class="mb-3">
    O conteúdo desse blog está sob a licença
    <a
      href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR"
      class="text-gray-800 hover:text-red-700 hover:underline"
      >Creative Commons Attribution</a
    >.
  </p>

  <p class="text-xs">
    Tema inspirado no
    <a
      href="https://tailwindcomponents.com/component/developer-portfolio"
      class="text-gray-800 hover:text-red-700 hover:underline"
      target="_blank"
      rel="noopener noreferrer"
      >Developer portfolio</a
    >.
  </p>
</footer>
