<!doctype html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Artigos sobre Python, Django e desenvolvimento Web">

  {% assets filters="libsass,cssmin", depends=("scss/*",), output="gen/packed.css",
    "scss/main.scss" %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}

  <title>{% block title %}Python, Django e desenvolvimento Web{% endblock %} | Klaus Laube</title>
</head>
<body>
<header class="header">
  <div class="container">
    <h1 class="header__headline">
      <a
        href="{{ url_for('index') }}"
        class="header__logo"
      >Klaus<span class="header__logo--highlight">Laube</span></a>
    </h1>
    <div class="header__callout">Python, Django e desenvolvimento web.</div>
  </div>
</header>

<main id="content">
  <div class="container">
    <div class="content__title">{% block content_title %}{% endblock %}</div>

    {% block content %}{% endblock %}
  </div>
</main>

<footer class="footer">
  <div class="container">
    <p>O conteúdo desse blog está sob a licença
      <a
        href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR"
        target="_blank"
        class="footer__link"
      >Creative Commons Attribution</a>.
    </p>
    <p>Feito com ❤️ e Python+Flask.</p>
  </div>
</footer>
</body>
</html>
