{% extends "base.html" %}

{% block content %}
  {% for post in paginator.entries %}
    <div class="article-list">
      <article class="article-list__item">
        <header>
          <h2 class="article-list__item__title">
            <a
              href="{{ post|url_for_post }}"
              class="article-list__item__link"
            >{{ post.title }}</a>
          </h2>

          <time class="article-list__item__date">
            {{ post.date }}
          </time>
        </header>
      </article>
    </div>
  {% endfor %}

  {% if paginator.number_of_pages > 1%}
    <div>
      {% if paginator.previous_page %}
        <div>
          <a href="{{ url_for('index', page_number=paginator.previous_page) }}">Anterior</a>
        </div>
      {% endif %}

      {% for page in paginator.pages %}
        <div>
          {% if page == paginator.page_number %}
            <span>{{ page }}</span>
          {% else %}
            <a href="{{ url_for('index', page_number=page) }}">{{ page }}</a>
          {% endif %}
        </div>
      {% endfor %}

      {% if paginator.next_page %}
        <div>
          <a href="{{ url_for('index', page_number=paginator.next_page) }}">Próximo</a>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
