{% extends "base.html" %}

{% block content %}
  {% for post in paginator.entries %}
    <div class="article-list">
      <article class="article-list__item">
        <header>
          <h2 class="article-list__item__title">
            <a
              href="{{ post|url_for_post }}"
              class="article-list__item__link"
            >{{ post.title }}</a>
          </h2>

          <time class="article-list__item__date">
            {{ post.date }}
          </time>
        </header>
      </article>
    </div>
  {% endfor %}

  {% if paginator.number_of_pages > 1%}
    <section class="pagination">
      {% if paginator.previous_page %}
        <a
          href="{{ url_for('index', page_number=paginator.previous_page) }}"
          class="pagination__link"
        ><<</a>
      {% endif %}

      {% for page in paginator.pages %}
        {% if page == paginator.page_number %}
          <span class="pagination__current">{{ page }}</span>
        {% else %}
          <a
            class="pagination__link"
            href="{{ url_for('index', page_number=page) }}"
          >{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a
          class="pagination__link"
          href="{{ url_for('index', page_number=paginator.next_page) }}"
        >>></a>
      {% endif %}
    </section>
  {% endif %}
{% endblock %}
