{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content_title %}{{ page.title }}{% endblock %}

{% block content %}
  <div class="article">
    <div class="article__content">
      {{ page.html|safe }}
    </div>

    {% if page.tags %}
    <ul class="article__taglist">
      {% for tag in page.tags %}
        <li class="article__tagentry">
          <a
            class="article__tag"
            href="{{ url_for('tag', slug=tag) }}"
          >{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
